.user-info {
	display: flex;
	gap: 15px;
	align-items: center;
	margin: 0 0 30px -10px;
}

.circle {
	height: 40px;
	width: 40px;
	display: flex;
	background-color: #B8BFC3;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}