nav {
	margin: 0 0 200px -10px;
	ul {
		padding-left: 0;
	}
	li {
		list-style: none;
		margin-bottom: 15px;
		transition: 0.3s;
		border-radius: 6px;	
		&:hover {
				background-color: #B8BFC3;
			}
		a {
			display: block;
			padding: 10px;
			text-decoration: none;
			color: black;
			width: 100%;
		}
	}
}