nav {
	ul {
		padding-left: 0;
	}
	li {
		list-style: none;
		margin-bottom: 15px;
		a {
			background-size: cover;
			text-decoration: none;
			color: black;
			padding-bottom: 20px;
			transition: 0.3s;
			border-radius: 6px;
			&:hover {
				background-color: #B8BFC3;
			}
		}
	}
}